{% extends 'wrapper.html'%} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'editor/main_editor.css' %}">
{% endblock %}

{% block body %}
<h2 class="page-header">Main Editor</h2>

<div>
    <a href="{% url 'category_editor' %}" class="link redirect-link">Edit Categories</a>
    <a class="btn btn-primary create-btn" href="{% url 'article_editor' slug='new-post' %}">New</a>
</div>

<div class="dropdown show text-right">
    <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{category}}
    </a>

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item {% if category == 'All' %}active{% endif %}" href="{% url 'main_editor' %}">All</a>
        {% for cat in categories %}
        <a class="dropdown-item {% if cat.name == category %}active{% endif %}"
            href="{% url 'category_main_editor' category=cat.name %}">{{ cat.name }}</a>
        {% endfor %}
    </div>
</div>


<div class="section">

    {% if category == 'All' %}

    {% for article in articles %}
    <form class="bottom-line row-container row" method="POST">
        {% csrf_token %}
        <div class="title-and-options-container d-flex d-md-block col-md-4">
            <span class="post-item-title">{{article.title|title}}</span>
            <ul class="edit-options-container">
                <li class="edit-options-item">
                    <a class="link-button" href="{% url 'article_editor' slug=article.slug %}">Edit</a>
                </li>
                <li class="edit-options-item">
                    <a class="link-button" href="{% url 'article_detail' slug=article.slug %}">View</a>
                </li>
                <li class="edit-options-item">
                    <input type="hidden" name="slug" value="{{article.slug}}">
                    <input type="submit" class="delete-button link-button" value="Delete">
                </li>
            </ul>
        </div>

        <div class="col-md-4 d-none d-md-block">
            {% for article_cat in article.category.all %}
            <a class="link category-tag"
                href="{% url 'category_main_editor' category=article_cat.name %}">{{article_cat.name}}</a>
            {% endfor %}
        </div>

        <div class="dates-container d-none d-md-flex col-md-4">
            {% if article.published_at %}
            <span>Published {{article.published_at | date:"d M"}}</span>
            {% else %}
            <span>Draft</span>
            {% endif %}
        </div>
    </form>
    {% endfor %}

    {% else %}

    {% for article in articles %}
    {% for article_cat in article.category.all %}
    {% if category == article_cat.name %}
    <form class="bottom-line row-container row" method="POST">
        {% csrf_token %}
        <div class="title-and-options-container d-flex d-md-block col-md-4">
            <span class="post-item-title">{{article.title|title}}</span>
            <ul class="edit-options-container">
                <li class="edit-options-item">
                    <a class="link-button" href="{% url 'article_editor' slug=article.slug %}">Edit</a>
                </li>
                <li class="edit-options-item">
                    <a class="link-button" href="{% url 'article_detail' slug=article.slug %}">View</a>
                </li>
                <li class="edit-options-item">
                    <input type="hidden" name="slug" value="{{article.slug}}">
                    <input type="submit" class="delete-button link-button" value="Delete">
                </li>
            </ul>
        </div>

        <div class="col-md-4 d-none d-md-block">
            {% for article_cat in article.category.all %}
            <a class="link category-tag"
                href="{% url 'category_main_editor' category=article_cat.name %}">{{article_cat.name}}</a>
            {% endfor %}
        </div>

        <div class="dates-container d-none d-md-flex col-md-4">
            {% if article.published_at %}
            <span>Published {{article.published_at | date:"d M"}}</span>
            {% else %}
            <span>Draft</span>
            {% endif %}
        </div>
    </form>
    {% endif %}
    {% endfor %}
    {% endfor %}

    {% endif %}
</div>

{% include 'mobile_header.html' %}

<script src="{% static 'global.js' %}"></script>

{% endblock %}