<h1 class="single-title">{{article.title|title}}</h1>

{% if article.published_at %}
<div class="single-date">
    <p>{{article.published_at}}</p>
</div>
{% endif %}

<div class="single-description">
    <p>{{article.description}}</p>
</div>

<div class="single-body rich-text">
    {{article.content|safe}}
</div>

<div class="single-category">
    {% if article.category.all %}
    <span class="category-label">Categories:</span>
    {% for cat in article.category.all %}
    <a href="{% url 'cat_article_list' category=cat.name %}" class="category link">{{cat.name}}</a>
    {% endfor %}
    {% endif %}
</div>

<div class="row pagination-group">
    <div class="col-6 text-right">
        {% if article.get_previous_by_published_at %}
        <a href="{% url 'article_detail' slug=article.get_previous_by_published_at.slug %}">Previous</a>
        {% endif %}
    </div>

    <div class="col-6">
        {% if article.get_next_by_published_at %}
        <a href="{% url 'article_detail' slug=article.get_next_by_published_at.slug %}">Next</a>
        {% endif %}
    </div>
</div>
