{% extends 'wrapper.html'%} {% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'guests/article_detail.css' %}">
{% endblock %}

{% block body %}
<div>
    {% if user.is_authenticated %}
    <div class="edit-button-wrapper">
        <a href="{% url 'article_editor' slug=article.slug %}" class="edit-button">Edit</a>
    </div>
    {% include 'guests/article_detail_content.html' %}
    {% elif article.published_at %}
        {% include 'guests/article_detail_content.html' %}
    {% else %}
        {% include '404.html' %}
    {% endif %}

</div>

{% include 'mobile_header.html' %}

{% endblock %}
