{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '404.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

<div class="notfound-wrapper">
    <div class="notfound">
        <div class="notfound-404">
            <h3>Oops! Page not found</h3>
            <h1><span>4</span><span>0</span><span>4</span></h1>
        </div>
        <a href="{% url 'main_view' %}" class="btn btn-outline-primary back-button">Back to Blog</a>
    </div>
</div>
